/* -----------sheard style --------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1240px;
    margin: 0 auto;
}
.btn-primary{
    color: #fff;
    background-color: #F948B2;
    border-radius: 25px;
    border: 0px;
    padding: 21px 40px;
    text-transform: uppercase;
    font-size: 1.3rem;
}
/* ------------header manu item start----------- */
header{
    max-width: 1140px;
    margin: 0 auto;
}
.logo{
    display: flex;
}
.logo-text{
    color: #0b0223;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    padding-left: 20px;
}
.logo-primary-color{
    color: #F948B2;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    background-color: #fff;
    align-items: center;background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.main-icons{
    display: flex;
    align-items: center;
}
.main-menu ul{
    display: flex;
}
.main-menu li{
    list-style: none;
    padding-right: 20px;
}
.main-menu a{
    text-decoration: none;
    color: #3c354f;
    font-size: 1.4rem;
    font-weight: 500;
}

.icons-menu{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
    color: #3c354f;
    font-size: 1.4rem;
    font-weight: 500;
}
.icons-menu .fa-youtube{
    color: red;
}
.icons-menu i{
    padding-right: 10px;
}

/* banner section style start */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.banner-content{
    background-image: url('../images/Group 14.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0px;
}
.banner-title{
    color: #0b0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-focus-title{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #F948B2;
}
.banner-description{
    color: #534c64;
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 40px;
}
.banner-description li{
    list-style: none;
}
.banner-img, .banner-content{
    width: 50%;
}
.banner-img img{
    width: 100%;
}
.go-rogue{
    color: #fff;
    background-color: #4EC5F7;
    border-radius: 25px;
    border: 0px;
    padding: 21px 40px;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-left: 20px;
}
/* banner section style end */
/* ---------------Online game section style start---------- */
.online-game-item{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.card{
    width: 300px;
    height: 300px;
}
.card img{
    width: 100%;
}
.online-game{
    margin: 100px 0px;
}
.section-title{
    color: #0b0223;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}
.section-description{
    color: #534c64;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    padding: 20px 0px;
}
.card-description{
    padding-top: 20px;
}
/* ---------------Online game section style end---------- */
/* ------------Play-instant section style start---------------- */
.play-game-container{
    display: flex;
    align-items: center;
    margin: 150px 0px;
    gap: 160px;
}
.pay-game-content{
    text-align: right;
    /* padding-right: 200px; */
}
.pay-game-title{
    font-size: 3rem;
    color: #0b0223;
    font-weight: 700;
}
.pay-game-description{
    color: #534c64;
    font-size: 1.3rem;
    font-weight: 400;
}
.pay-game-img, .pay-game-content{
    width: 50%;
}
.pay-game-first-img{
    width: 100%;
}
.pay-game-second-img{
    position: relative;
    margin-top: -200px;
    margin-left: -120px;
}

/* ------------Play-instant section style end---------------- */
/*--------------- list of game section style start-------------- */
.listOf-game{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
.game-info-container{
    display: flex;
    align-items: center;
    transition: 0.4s;
    padding: 10px;
}
.game-info-container:hover {
    border: 1px solid tomato;
    border-radius: 50px;
}
.game-name:hover{
    color: #F948B2;
}
.game-name{
    color: #0b0223;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 11px;
}

/*--------------- list of game section style end-------------- */
/*----------------- footer start---------------- */
.footer{
    background-color: #0b0223;
    padding: 120px 0px;
    margin-top: 80px;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-logo-text{
        color:#fff;
        text-align: center;
        font-size: 2.8rem;
        font-weight: 700;
        padding-left: 20px;
}
.footer-container{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.footer-menu ul{
    display: flex;
    padding: 60px 0px;
    text-align: center;
    justify-content: center;
}
.footer-menu ul li{
    list-style: none;
    margin-right: 50px;
}
.footer-menu li a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}
.footer-social-icon ul{
    display: flex;
    justify-content: center;
}
.footer-social-icon li{
    list-style: none;
    margin-right: 40px;
}
.footer-social-icon li a{
    font-size: 2.5rem;
    color: #fff;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
font-size: 1rem;
font-weight: 500;
}

/*----------------- footer end---------------- */
/* -------------------Responsive layout----------- */
/* -------------------Responsive layout on mobile----------- */
@media screen and (max-width:576px) {
    .nav,
    .main-icons,
    .play-game-container{
        flex-direction: column;
    }
    .main-menu{
        padding: 50px 0px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content,
    .banner-img,
    .pay-game-content{
        width: 100%;
    }
    .pay-game-second-img{
        width: 60%;
        margin-top: -150px;
        margin-left: -70px;
    }
    .play-game-container{
        gap: 30px;
    }   
    .pay-game-img{
        width: 60%;
    }
    .banner-content{
        padding-left: 30px;
    }
    .online-game-item{
        display: grid;
        gap: 150px;
    }
    .pay-game-content{
        text-align: center;
    }
    .listOf-game{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .footer-menu ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-menu li{
        padding-bottom:20px;

    }
    .footer-social-icon ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    #footer-menu ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------------Responsive layout on Tablet----------- */
@media screen and (min-width:577px) and (max-width:992px) {
    .nav,
    .main-icons,
    .play-game-container{
        flex-direction: column;
    }
    .pay-game-content{
        text-align: center;
    }
    .pay-game-second-img{
        width: 60%;
        margin-top: -180px;
        margin-left: -100px;
    }
    .play-game-container{
        gap: 30px;
    }   
    .pay-game-img{
        width: 60%;
    }
    .main-menu{
        padding: 50px 0px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content,
    .banner-img{
        width: 100%;
    }
    .banner-content{
        padding-left: 300px;
    }
    .online-game-item{
        display: grid;
        gap: 150px;
    } 
    .pay-game-content{
        width: 100%;
    }
    .listOf-game{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    
}